.group-info-body-page {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div {
    display: inline-block;
    text-align: center;
}

.bigger {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
}

.text {
    max-width: 600px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #404040;
    padding: 20px;
    text-align: center;
}

button {
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: teal;
}

.create-button {
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: rgba(247, 104, 9, 0.973);
}