
            * {
                margin: 0;
                padding: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                max-width: 100%;
                position: relative;
            }
            
            img {
                width: 1600px;
                height: 100vh;
            }
            
            body {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: teal;
                background-color: #f2f2f2;
                position: relative;
                z-index: 0;
            }
            
            h1 {
                font-size: 2em;
                text-align: center;
                padding: 30px;
            }
            
            .container {
                margin: 10px auto;
                width: 400px;
                max-width: 100%;
                padding: 20px;
                background-color: white;
                opacity: .8;
                border: solid 1px #d2d2d2;
                box-shadow: 5px 5px 10px #5f5b5b;
                position: absolute;
                left: 100px;
                top: 120px;
                z-index: 2;
            }
            
            .container:hover {
                box-shadow: 5px 5px 5px #d2d2d2;
            }
            
            .active {
                background-color: rgb(19, 79, 79);
                color: #fff;
            }
            
            li {
                margin: 20px;
                color: white;
            }
            
            input {
                width: 100%;
                padding: 12px;
                border: solid 1px orangered;
                margin-top: 10px;
                font-family: inherit;
                font-size: 20px;
            }
            
            .user-name {
                width: 100%;
                margin-top: -5px;
            }
            
             ::placeholder {
                font-style: italic;
            }
            
            button {
                width: 100%;
                margin-top: 10px;
                padding: 20px;
                border: solid 2px teal;
                background-color: teal;
                color: #fff;
                font-size: 1.4em;
                text-transform: uppercase;
            }
            
            button:hover {
                box-shadow: 5px 5px 10px #d2d2d2;
                cursor: pointer;
            }
            
            #log-in-form {
                width: 400px;
            }
            
            .password {
                float: right;
                font-style: italic;
                margin-top: 9px;
            }
            
            .password:hover {
                font-weight: bold;
                cursor: pointer;
            }
            
             :focus {
                outline-color: orange;
            }
