/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css */

button {
    overflow: visible;
}

body {
    margin: 0;
}

footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
}

button {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/* button:-moz-focusring{outline:buttonText dotted 1px;} */


/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css */

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-times:before {
    content: "\f00d";
}

.fa-chevron-up:before {
    content: "\f077";
}

.fa-bars:before {
    content: "\f0c9";
}


/* [data-aos][data-aos][data-aos-delay='300'] {
    transition-delay: 0;
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos=fade-up] {
    transform: translateY(100px); */


/* }

[data-aos=fade-down] {
    transform: translateY(-100px);
}

[data-aos=fade-right] {
    transform: translate(-100px);
}

[data-aos=fade-left] {
    transform: translate(100px);
} */


/*! CSS Used from: http://collaborate.netlify.com/main.css */

body {
    overflow-x: hidden;
}

h2 {
    margin-top: 0;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent), url(https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc8be37d913994b3540169a890e2242d&auto=format&fit=crop&w=1647&q=80)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    /*
   NAV
   */
    /*
   CENTER HEADER TEXT
   */
}

header nav {
    padding: 15px 35px;
    display: flex;
    position: relative;
}

header nav h2 {
    margin-bottom: 0;
    flex: 1;
    letter-spacing: 3px;
    font-family: 'Overpass Mono', monospace !important;
}

header nav h2 #logo {
    color: lightgray;
    text-transform: uppercase;
    border-bottom: solid 2px lightgray;
}

header nav .nav-button {
    color: lightgray;
    font-size: 23px;
}

header nav div {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.2s;
}

header nav div ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header nav div ul .exit-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    color: lightgray;
    font-size: 20px;
    padding: 10px;
}

header nav div ul li {
    font-family: 'PT Sans', sans-serif !important;
    text-transform: uppercase;
}

header nav div ul li a {
    display: block;
    color: lightgray;
    padding: 15px 5px;
    transition: all 0.4s;
}

header nav div ul li a:hover,
header nav div ul li a .active:hover {
    color: #be8040;
    border-bottom-color: #be8040;
}

header .center {
    line-height: 0;
    margin: auto;
    text-align: center;
    color: #fff;
}

header .center h1 {
    font-family: 'Alex Brush', cursive !important;
    color: #be8040;
    font-size: 80px;
    margin-bottom: 34px;
}

header .center h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 28px;
}

header .center #asterisk {
    color: #be8040;
    line-height: 0.5;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

header .center #asterisk:before,
header .center #asterisk:after {
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 1px;
    width: 0%;
    opacity: 0;
    background: #fff;
}

header .center #asterisk:before {
    margin-right: 10px;
}

header .center #asterisk:after {
    margin-left: 10px;
}

header .center p {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

nav div.show {
    transform: scale(1);
    opacity: 1;
}


/*
 SECTIONS
 */


/*
 CLASSES
 */

.custom-font {
    font-family: 'Alex Brush', cursive;
    color: #be8040;
    font-size: 75px;
    line-height: 0;
}

.add-padding {
    padding: 25px;
}

.center-text {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    color: #4d4d4d;
}

.center-text h2 {
    margin-top: 25px;
    line-height: 0;
}

.center-text p {
    margin-top: 0;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5;
}

.center-text a {
    font-family: 'PT Sans', sans-serif;
    color: #be8040;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: solid 2px #be8040;
}

.add-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-flex .stuffed-cherries {
    background: url(https://images.unsplash.com/photo-1440558953273-969c107f78a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5eaa0f30a1c37f38a4a365bd0c7d54ea&auto=format&fit=crop&w=1250&q=80) no-repeat center center;
    background-size: cover;
    height: 315px;
    width: 320px;
}

.center-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-h1 {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.custom-h1 span {
    letter-spacing: 0;
}

.bread-background {
    background: #000 url(https://images.unsplash.com/photo-1498937359365-9f6a4e94466f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ffaae70f1c3d824fe436e4fdba4e4b84&auto=format&fit=crop&w=1500&q=80) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.menu {
    padding: 30px;
}

.menu-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.menu {
    padding: 30px;
}

.menu-images img {
    width: 100%;
}

.cake-background {
    background: black url(https://images.unsplash.com/photo-1521098150-2d00c717027b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f45679c1c9a8015a00178369da6c5893&auto=format&fit=crop&w=2758&q=80) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.reservation-section {
    margin-bottom: 40px;
}

.reservation-section div:first-child {
    flex: 1;
}

.reservation-section div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex: 1;
}

.reservation-section div:last-child img {
    margin: auto;
    width: 85%;
}

footer {
    margin: 0;
    position: relative;
    background: #141414;
    color: lightgray;
}

footer button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -10%);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 1.2;
    border-radius: 50%;
    margin-top: 0;
}

footer .copyright {
    background: #232323;
    color: #969696;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .copyright span {
    border-bottom: solid 1px;
}

@media screen and (max-width: 425px) {
    header,
    .bread-background,
    .cake-background {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    nav {
        position: initial!important;
        align-items: baseline;
        padding: 20px 70px!important;
    }
    nav .nav-button {
        display: none;
    }
    nav div {
        position: initial!important;
        background: none!important;
        opacity: initial!important;
        transform: initial!important;
    }
    nav div ul {
        position: initial!important;
        flex-direction: row!important;
    }
    nav div ul .exit-menu {
        display: none;
    }
    nav div ul li a {
        font-size: 12.8px;
        margin: 0 10px;
        letter-spacing: 1px;
        padding: 5px 0!important;
    }
    nav div ul .active {
        border-bottom: solid 1px lightgray;
    }
    .add-padding {
        padding: 50px 0;
    }
    .add-flex {
        flex-direction: row;
        align-items: center;
    }
    .add-flex div:first-child {
        flex: 1;
        padding: 0 50px;
    }
    .add-flex div:last-child {
        min-width: 400px;
        margin: 50px;
    }
    .menu-images {
        flex: 1;
    }
    .menu div:last-child {
        flex: 1;
    }
    footer .copyright {
        flex-direction: row;
        justify-content: space-around;
    }
}

#asterisk {
    opacity: 0;
    transform-origin: 50% 4%;
    animation: spin 0.5s forwards;
    animation-delay: 0.3s;
}

#asterisk::before,
#asterisk::after {
    transform-origin: center center;
    animation: grow 0.5s forwards;
    animation-delay: 0.8s;
}

.center p {
    transform: translateY(-40px);
    opacity: 0;
    animation: fadeDown 0.9s forwards;
    animation-delay: 1.3s;
}

.center h2 {
    transform: scale(2);
    opacity: 0;
    animation: fade 0.5s forwards;
}

.center h1 {
    transform: translateY(40px);
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 0.3s;
}


/*! CSS Used keyframes */

@keyframes spin {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        width: 0%;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        width: 40%;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'FontAwesome';
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0) format('embedded-opentype'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}