.profile-card-page {
    width: 200px;
    background-color: white;
    color: teal;
}

.profile-page-wrapper {
    max-width: 100%;
}

.avatar-area {
    display: inline-block;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name-profile-card {
    font-size: 20px;
    padding: 10px;
    float: right;
    margin-top: 40px;
    margin-left: 10px;
}

.trip-name-profile-card {
    font-size: 17px;
}

.start-date-display-profile-card {
    font-size: 15px;
}

.trips-list-display {
    font-size: 18px;
    text-align: left;
    color: orangered;
}

.my-trips-list-title {
    color: orangered;
}

.my-trips-list {
    text-align: left;
}

ul {
    text-align: left;
}

.button-section {
    display: inline-block;
}

.edit-btn {
    color: white;
    background-color: darkmagenta;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 4px black;
    width: 200px;
    height: 30px;
}

.delete-btn {
    color: white;
    background-color: darkblue;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 4px black;
    width: 200px;
    height: 30px;
}